*{
    margin: 0;
    padding: 0;
}

.inpyrtg {
    margin: 0 auto;
}

.fotminp{
     border: 1px solid #ddd;
     border-radius: 1px;
     padding: 0.70rem 10rem 0.70rem 1rem;
}

.fotminp:focus{
     box-shadow: none;
     border-color: #a8a6a5;
     outline: none;
}

.sear{
    background: #f26528;
    border-radius: 1px;
    color: white;
    padding: 0  1.50rem;
}

.sear:hover{
    background: transparent;
    border: 1px solid  #f26528 ;
}

.searcgg{
    width: 67%;
}

/* avater */
.cart-wrap{
    position: relative;

}

.count-style {
    position: absolute;
    right: -7px;
    top: -16px;
    background-color: #1f2226;
    color: white;
    font-size: 15px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    text-align: center;
}

.apple{
    text-decoration: none;


}

.avater{
    display: flex;
}

@media(max-width:427px){
    .avater{
        padding: 1rem;
    }
}

/* bottom navbar */


/* ensure nav link hover overrides utility classes */
.smiltext:hover{
    color: #f26528 !important;
}

.botom-contain{
    border-top: 1px solid rgb(235, 232, 232);
}

/* coursel */
.slide{
    padding-left: 0px ;
}

/* Bestsellers */
    .bestsl{
        padding: 0.50rem 5rem;
        border-bottom: 2px solid orangered;
        margin: 4rem 0;
        background: #f5e4dc;
    }

    .bestsl h2{
        margin-bottom: 0%;
        font-size: 20px;
        font-weight: 450;
    } 

    /* slider coursel */
  .card-slider{
    position: relative;
  }

.container {
    position: relative;
  width: 90%;
  margin: 50px auto;
}

.card {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

  .img-cont{
    position: relative;
}

.icon-em{
    position: absolute;
    right: 0.1rem;
    top: -1rem;
    display: none;
    transition: all 0.3s ease;
    color: #a8a6a5;
}
  .card:hover .icon-em{
    display: block;
  }



    /* .img-cont:hover{
      color: black;
    } */

    .theme-product-price{
        display: flex;
        align-items: center;
          font-size: 13px;
          gap: 3px;
         

    }
 .theme-product-price .old{
       
    text-decoration: line-through;
    font-weight: 400;
    
 }

  .theme-product-price .new{
     font-size: 14px;
     font-weight: 500;

  }
  


.whatsappbox {
    width: 49%;
    float: left;
    margin-right: 1%;
    margin-top: 25px;
    text-align: center;
   
}
.whatsappbox img{
   width: 100%;
   border-radius: 12px;
}
   


.boxcart {
    width: 49%;
    float: right;
    margin-left: 1%;
    margin-top: 25px;
    text-align: center;
       font-size: 9px;
}


.buttoncart {
    width: 100%;
    padding: 6px;
    background: #f26528;
    display: block;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
}

  @media (max-width:728px){
   .buttoncart{
       padding: 12px;
       font-size: 15px;
   }
}
.buttoncart:hover{
    background-color: #1f2226;
    color: white;
}
.theme-product-title {
   font-size: 13px!important;
    line-height: 25px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 16px;
    line-height: 25px;
    display: -webkit-box;
    overflow: hidden;
   -webkit-box-orient: vertical;
   font-weight: 400;
   margin-bottom: 10px;
   color: #333;
}
 .theme-product-title:hover{
   color: #f26528;
 }
 .theme-product-price .new{
    color: #f26528;
 }
.centaur-img{
    width: 100%;
    /* height: 200px; */
}
.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.card p {
  color: #666;
}


/* Owl nav buttons */
.card-slider .owl-nav{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
 color: #b3afaf;
 font-weight: 300;
 
}
 .card-slider .owl-nav button {
  position: absolute;
  z-index: 11;
   background: transparent !important; 
   border-radius: 2rem;
   width: 40px;
   height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
} 
.card-slider .owl-nav button span{
    font-size: 30px;
}
  
 .card-slider .owl-nav button span:hover{
    border-radius: 5rem;
   border: 1px solid  #f26528; 
   color: #f26528;
   
   padding: 0rem 1rem; 
 }

.card-slider .owl-nav .owl-prev{
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.card-slider .owl-nav .owl-next{
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* footer-section */

.footer{
  background-color:#f6e9d5;
}
  .anku{
     font-size: 14px;
  }
  .contfoot a{
     color: #4e4e4e;
     font-weight: 500;
  }

    .contfoot a:hover {
    /* color: rgb(36, 35, 35); */
    text-decoration-thickness: .1rem;
    }

    .email{
        color: #333;
    }
      .email a{
         color: #4e4e4e;
      }
      .email a:hover {
    color: rgb(36, 35, 35); 
    text-decoration-thickness: .1rem;
    }

  /* 2nd-colum */
    .home h3{
        font-size: 16px;
        text-transform: capitalize;
        font-weight: bold;
      
    }

    .home a{
        color: #4e4e4e;
        
    }
    .home li{
         color: #302f2f;
         margin-bottom: 0.30rem;
        
    }
    .home a:hover{
       color: black;
    }
  


    /* -------- */
    .underline-animate {
  position: relative;
  text-decoration: none;
  color: #000000e5;
  display: inline-block;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;

  /* animation magic */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.underline-animate:hover::after {
  transform: scaleX(1);
  
}

/* card-section */
  .mp{
       border-radius: 0.65rem;
        background: #ee510e;
        padding: 6px 12px;
        font-size: 15px;
       font-weight: 500;
      
       text-align: center!important;
  }
  .btn:hover{
     background: #ee510e;
  }

     .cardmy{
          padding: 15px 11px;
    background: #eddec6;
     }
  .cardmy h5{
      color: #ee510e;
  }

  /* noida deal */
  @media(max-width:728px){
    .noida{
      margin-bottom: 20px;
    }
  }
  .linkpage {
    width: 100%;
    height: 100%;
    padding: 12px 24px 0;
    background: #f6e9d5;
}

.maincategoryfooter {
    font-weight: 700;
    margin: 10px 0 5px;
}

.seotext

 {
    max-width: 1600px;
    margin: auto;
}

.subcategoryfooter {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  .categoryfooter{
    width:7px;float:left;text-align:center
  }
.footerlonk {
    margin-bottom: 5px;
    float: left;
    
}

.maincategoryfooter {
    font-weight: 700;
    margin: 10px 0 5px;
}

.linkpage a{
    text-decoration: none;
    color: rgb(37, 37, 37);
}

/* bottom footer */
 .footer__bottom-row{
   justify-content: space-between;
   padding-top: 4rem;
 }
.footer__bottom-row+.footer__bottom-row {
    margin-top: 3.2rem;
}

.footer__bottom {
    --element-gap: 2.4rem;
    padding-top: 4rem;
}



 .footer__bottom-row .footer__copyright-content a{
          color: rgb(20, 20, 20);
        font-weight: 500;
          text-decoration: none;
          font-size: 16px;
       
  }
      


.footer__bottom-row a:hover{
  text-decoration-line: underline;
  text-decoration-color: rgb(10, 10, 10)!important;
}
  
   .social{
    gap: 1rem;
  }


.social-ico{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  color: #000;
  font-size: 18px;
  text-decoration: none;

  /*  center fix */
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.social-ico::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #285227;
  transform: translateX(-100%);
  transition: transform 0.45s ease;
  z-index: -1;
}

.social-ico:hover{
  color: #fff;
}

.social-ico:hover::before{
  transform: translateX(0);
}

@media(max-width:728px){
   .footer__bottom-row{
    flex-direction: column;
      padding-left: 20px;
   }
}